<main>
  <section>
    <img src="../assets/python.jpg" width="200" alt="Python Note" i18n-alt>
  </section>
  <section>
    <h2 i18n>
      Testando um título abaixo da imagem
    </h2>
    <p i18n>
      Obrigado por acessar o nosso site! Em breve mais novidades para você!
    </p>
    <table>
      <tr>
        <th i18n>Item</th>
        <th i18n>Quantidade</th>
        <th i18n>Data</th>
        <th i18n>Preço</th>
      </tr>
      <tr>
        <td>Televisão Samsung 4k 61 pol.</td>
        <td>1</td>
        <td>{{ "15/06/2023" | date}}</td>
        <td>{{ 5546 | currency}}</td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td i18n>Total a pagar</td>
        <td i18n>{{ 5546 | currency}}</td>
      </tr>
    </table>
  </section>
</main>

<router-outlet></router-outlet>
